<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HearthstoneZoneLogFile" value="Zone.log"/>
    <add key="LogFileUpdateDelay" value="100"/>
    <add key="HearthstoneUsername" value="EatonGaming"/>
    <add key="ShowHomePage" value="true"/>
    <add key="SavedDecksFile" value="Decks.txt"/>
    <add key="DefaultSelectedHero" value=""/>
    
    <add key="HearthstoneLogDirectory" value="D:\Blizzard\Hearthstone\Logs"/>
    <add key="LogFolder" value="D:\HearthstoneAssistant\Logs"/>
    <add key="CardImagesFolder" value="D:\HearthstoneAssistant\CardImages"/>
    <add key="SavedDataFolder" value="D:\HearthstoneAssistant\SavedData"/>
    <add key="EntityXMLFile" value="D:\HearthstoneAssistant\TestEntitiesXml.xml"/>
    <add key="RecordedGamesXMLFile" value="D:\HearthstoneAssistant\RecordedGames.xml"/>
    
    <!--<add key="HearthstoneLogDirectory" value="C:\Program Files (x86)\Hearthstone\Logs"/>-->
    <!--<add key="LogFolder" value="C:\HearthstoneAssistant\Logs"/>-->
    <!--<add key="CardImagesFolder" value="C:\HearthstoneAssistant\CardImages"/>
    <add key="SavedDataFolder" value="C:\HearthstoneAssistant\SavedData"/>-->
  </appSettings>
</configuration>